services:
  db:
    image: postgres:13
    env_file:
      - ./backend/src/.env.development
    volumes:
      - postgres-data:/var/lib/postgresql/data
    expose:
      - "5432"
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      # ИСПРАВЛЕННАЯ КОМАНДА: Используем явные значения из вашего .env файла
      test: ["CMD-SHELL", "pg_isready -U postgres -d db"]
      interval: 10s # Увеличим интервал, чтобы не спамить в логи
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    volumes:
      - redis-data:/data
    expose:
      - "6379"
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      # Проверяем, отвечает ли Redis на команду PING
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/src/.env.development
    ports:
      - "8000:8000"
    # Обновленная секция depends_on
    depends_on:
      db:
        condition: service_healthy # Ждать, пока healthcheck db не станет успешным
      redis:
        condition: service_healthy # Ждать, пока healthcheck redis не станет успешным
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend # Фронтенду достаточно просто дождаться запуска бэкенда
    restart: unless-stopped

volumes:
  postgres-data:
  redis-data: